@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px;
  box-shadow: inset rgb(110, 110, 110) 0px 0px 25px -12px;

  background-color: rgb(228, 228, 228);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(167, 167, 167);
}

.main {
  width: screen;
  --dot-bg: #fff;
  --dot-color: #000;
  --dot-size: 1.5px;
  --dot-space: 50px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

@media (prefers-color-scheme: dark) {
  .dark ::-webkit-scrollbar {
    border-radius: 10px;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 25px -12px;
    background-color: rgba(46, 46, 46, 0.863);
  }

  .dark ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #111111ab;
  }
  .dark .main {
    --dot-bg: #1f1f1f; /* Change to your desired dark mode background color */
    --dot-color: #a3a3a3; /* Change to your desired dark mode dot color */
    --dot-size: 1.5px;
  }
}
